.forgotPasswordBox {
    width: 480px;
    height: 302px;
    background: #131316;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.buttonBox {
    margin-left: 160px;

}

.containerLink {
    display: flex;
    margin-left: 135px;
}