.burgerConstructor {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 600px;
    height: 80vh;

}

.mainBoxBurgerConstructor {
    overflow-x: hidden;
    overflow-y: auto;
    height: 40vh;
}

.elementBoxBurgerConstructor {
    display: flex;
}

.elementBoxEndBurgerConstructor {
    padding-left: 50px ;
}
.elemetBurgerConstructor{
    width: 600px;
}
.orderBox{
    margin-left: auto;
    margin-right: 0px;
    width: 370px;
    display: flex;

}
