.window {
    width: 640px;
    height: 620px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ingredientsBox {
    width: 640px;
    height: 366px;
    overflow-x: hidden;
    overflow-y: auto;
}

.price {
    width: 600px;
    text-align: right;
}

.priceIngredient {
    width: 320px;
    text-align: right;
}

.imageBox {
    height: 64px;
    width: 64px;
    background-color: #131316;
    border-radius: 100px;
    border: 2px;
    border-style: solid;
    border-color: #801AB2;
}

.image {
    margin-left: -18px;
}