.accountBox {
    width: 1077px;
    height: 522px;
    background: #131316;
    margin-left: 320px;
    margin-top: 120px;
    display: flex;
}

.navigation {
    width: 320px;
    height: 64px;
    cursor: pointer;
}

.about {
    width: 320px;
    height: 64px;
}